@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Alma Mono';
	src: url('src/assets/fonts/AlmaMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Bold';
	src: url('src/assets/fonts/AlmaMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Light';
	src: url('src/assets/fonts/AlmaMono-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Thin';
	src: url('src/assets/fonts/AlmaMono-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Heavy';
	src: url('src/assets/fonts/AlmaMono-Heavy.ttf') format('truetype');
}

body {
	animation: brighten 3s ease-in-out;
	background-color: #001322;
}

@keyframes brighten {
	from {
		background-color: black;
	}
	to {
		background-color: #001322;
	}
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	50% {
		scale: 1 1.5;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes grow-and-appear {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes rise-and-appear {
	from {
		opacity: 0;
		translate: 0 100%;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}

#blob {
	animation: grow-and-appear 3s ease-in-out;
	translate: -50% -50%;
}

.splash {
	animation: appear 1s linear;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
	cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(180, 180, 180);
}

.rise-and-appear {
	animation: rise-and-appear 1.2s ease-in-out;
	opacity: 100% !important;
}
