@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Alma Mono';
	src: url('src/assets/fonts/AlmaMono-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Bold';
	src: url('src/assets/fonts/AlmaMono-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Light';
	src: url('src/assets/fonts/AlmaMono-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Thin';
	src: url('src/assets/fonts/AlmaMono-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Alma Mono Heavy';
	src: url('src/assets/fonts/AlmaMono-Heavy.ttf') format('truetype');
}

body {
	animation: brighten 3s ease-in-out;
	background-color: #000f1b;
	overflow-x: hidden;
}

@keyframes brighten {
	from {
		background-color: black;
	}
	to {
		background-color: #000f1b;
	}
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	50% {
		scale: 1 1.5;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes grow-and-appear {
	from {
		opacity: 0;
		scale: 0;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#blob {
	animation: rotate 5s linear infinite;
	animation: grow-and-appear 3s ease-in-out;
	translate: -50% -50%;
}

.splash {
	animation: appear 1s linear;
}
